@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P";
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

#customiser {
  margin-top: 1em;
  font-size: 1.5rem;
  visibility: hidden;
  display: grid;
}

#custom_div {
  height: 100px;
}

#game-start {
  position: relative;
}

#board {
  margin: 0;
  display: flex;
  user-select: none;
  border: outset 10px #222;
}

.cell {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  position: relative;
  width: 50px;
  aspect-ratio: 1;
  font-size: 1.75rem;
  background-color: #555;
  border: 8px outset #666;
}

.cell>* {
  grid-area: 1 / 1;
}

.cell:not(.revealed):active {
  border-style: inset;
}

img {
  image-rendering: pixelated;
}

.cell img {
  width: 100%;
  pointer-events: none;
}

.cell.revealed {
  border: none;
  background-color: #444;
}

.game-over,
.Pause-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;

  visibility: hidden;
  position: absolute;

  text-shadow:
    4px 4px 0px color-mix(in oklch, currentColor 50%, #0008 50%),
    -4px 4px 0px color-mix(in oklch, currentColor 50%, #0008 50%),
    4px -4px 0px color-mix(in oklch, currentColor 50%, #0008 50%),
    -4px -4px 0px color-mix(in oklch, currentColor 50%, #0008 50%);
  color: red;

  text-align: center;
  transform: translate(-50%, -50%);

  top: 50%;
  left: 50%;
}

.game-over * {
  transform: translateY(300%);

  transition: transform 300ms;
}

#restartButton,
.restart,
#menuButton,
.menu-btn,
#resumeButton,
#game-start,
#settingsButton {
  border: none;
  color: color-mix(in oklch, red 50%, #0008 50%);
  background-color: #0003;
  cursor: pointer;
  border: 4px solid currentColor;
}

#game-start {
  margin-top: 1em;
  font-size: 2rem;
}

.restart,
#resumeButton {
  transition-delay: 50ms;
}

.menu-btn,
#restartButton {
  transition-delay: 100ms;
}

#menuButton {
  transition-delay: 150ms;
}
#settingsButton {
  transition-delay: 200ms;
}

.game-over.show * {
  transform: translateY(0);
}

.game-over.show {
  visibility: visible;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: 0;
  transition: opacity 300ms;
}

.overlay.show {
  visibility: visible;
  opacity: 100%;
}

.stats {
  font-size: 2rem;
  color: color-mix(in oklch, red 50%, #0008 50%);
  background-color: #0003;
  display: block;
  gap: 1rem;
  padding: rem 1rem;
  position: fixed;
  top: 0px;
  right: 12rem;
  z-index: 10;
  width: fit-content;
  height: fit-content;


  * {
    text-align: center;
    padding: 2px 4px;

  }

  .time,
  .mines {
    position: absolute;
    top: 0;
    width: fit-content;
    height: 150px;
    pointer-events: none;
  }

  .mines {
    left: 100%;
    transform: translateX(-100%);
  }

  .text-writen {
    font-size: smaller;
  }
}

.hidden {
  display: none;
}

.game-title {
  font-size: min(8rem, 10vw);
  display: flex;
}

.game-select-container {
  margin-top: -410px;
  margin-left: 1em;
  --gap: .5em;

  >div {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    position: relative;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 2rem;

  input[type=radio] {
    display: none;
  }

  label {
    cursor: pointer;
    position: relative;
  }

  label::before {
    content: '';
    cursor: pointer;
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    background-color: #444;
    background-image: radial-gradient(#0002, #222 80%);
    border: 2px #222 solid;
    border-radius: 100%;
    transform: translateX(-140%);
  }

  --select-color: #800;

  input:nth-of-type(0):checked~label::before {
    background-color: var(--select-color);
  }

  input:nth-of-type(1):checked~label::before {
    background-color: var(--select-color);
  }

  input:nth-of-type(2):checked~label::before {
    background-color: var(--select-color);
  }

  input:nth-of-type(3):checked~label::before {
    background-color: var(--select-color);
  }
}

.cell.flag>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 100ms forwards flag-drop ease-out;
}

#settings {
  background-color: #666;
  text-align: left;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 2rem;
  border: 5px solid #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gear {
  width: 50px;
  height: 50px;
  background: #555;
  border-radius: 50%;
  position: relative;
  animation: spin 2s linear infinite;
}

#gear::before,
#gear::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 70px;
  height: 70px;
  background: inherit;
  border-radius: 10%;
}

#gear::before {
  transform: rotate(45deg);
}

#gear::after {
  transform: rotate(90deg);
}

#gear span {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  background: #222;
  border-radius: 50%;
  z-index: 2;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#setSettings {
  width: fit-content;
  height: 400px;
  margin-left: 1rem;
  margin-top: 1rem;
  visibility: hidden;
  padding: 10px;
}

#setting {
  display: flex;
}

#soundsSet {
  text-align: center;
}

#infoVolume {
  margin-bottom: 15px;
}

#darkModeBtn,
#lightModeBtn {
  margin-top: 10px;
  padding: 5px;
  font-size: x-large;
  cursor: pointer;
}